{{ form_start(form) }}

{{ form_row(form.question) }}
{{ form_row(form.anecdote) }}
{{ form_row(form.link) }}
{{ form_row(form.quiz) }}


<h3>Réponses</h3>


{{ form_errors(form.answers) }}
<div id="answers-container" data-prototype="{{ form_widget(form.answers.vars.prototype)|e }}">
    {{ form_widget(form.answers) }}
</div>

<button type="submit" class="btn btn-success btn-sm mt-1 mb-1">Valider</button>

{{ form_end(form) }}
